

dk.navheight{
height: 11%;
}

.navimgheight{
    height: 5%;
}

.navtitle{
    font-size: 2em;
}

.mainpage{
    width: 100%;
}

.hero{
    position: relative;
}


#send{
    position:relative;
    

}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

